
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "lg:w-96 mx-auto md:mt-32" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class="text-4xl text-center font-display font-bold mb-8">Sign up</h2>

  <div class="mb-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
  </div>

  <div class="mb-6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
  </div>

  <div class="mb-6">
    <%= f.label :invite_code %><br />
    <%= f.text_field :invite_code, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "Sign up", class: "px-8 py-3 bg-neutral-900 cursor-pointer hover:bg-neutral-800 duration-200" %>
  </div>

  <div class="mt-32 text-center text-sm">
    <%= render "devise/shared/links" %>
  </div>   
<% end %>

