<div id="<%= dom_id progress %>">
  <p>
    <strong>Completed:</strong>
    <%= progress.completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= progress.user_id %>
  </p>

  <p>
    <strong>Enrolled program:</strong>
    <%= progress.enrolled_program_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= progress.event_id %>
  </p>

</div>
