<div class="w-full xl:w-1/4">
  <aside class="mb-8 space-y-2 z-10 relative">
    <%= link_to user_path(current_user), class: "lg:text-2xl font-medium flex items-center space-x-2 duration-200 hover:text-yellow-200" do %>
      <span>My Profile</span>
    <% end %>

    <%= link_to boards_path, class: "lg:text-2xl font-medium flex items-center space-x-2 duration-200 hover:text-yellow-200" do %>
      <span>Boards</span>
    <% end %>

    <%= link_to programs_path, class: "lg:text-2xl font-medium flex items-center space-x-2 duration-200 hover:text-yellow-200" do %>
      <span>Programs List</span>
    <% end %>

    <%= link_to programs_path, class: "lg:text-2xl font-medium flex items-center space-x-2 duration-200 hover:text-yellow-200" do %>
      <span>Enrolled Programs</span>
    <% end %>

    <%= link_to edit_user_path(current_user), class: "lg:text-2xl font-medium flex items-center space-x-2 duration-200 hover:text-yellow-200" do %>
      <span>Edit Profile</span>
    <% end %>

  </aside>
</div>
