<%= form_with(model: program) do |form| %>
  <% if program.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md" %>
  </div>

  <div class="mt-4">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md" %>
  </div>

  <div class="mt-4">
    <%= form.label :difficulty, style: "display: block" %>
    <%= form.number_field :difficulty, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md" %>
  </div>

  <div class="mt-4">
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "px-6 py-4 text-sm bg-neutral-100 text-neutral-700 hover:bg-neutral-50 duration-200 cursor-pointer rounded-md" %>
  </div>
<% end %>
