<div class="flex justify-center">
  <section class="w-3/4">
    <%= image_tag '1.png', alt: '', class: "rounded-md" %>

    <h1 class="font-display text-4xl mt-8">
      <%= program.name %>
    </h1>

    <p class="text-xl mt-6">
      <%= program.decorate.display_description %>
    </p>

    <% if program.challenges %>
      <h2 class="font-display text-2xl mt-16">
        Challenges
      </h2>

      <ul class="mt-8 grid grid-cols-3 gap-4 mb-12">
        <% program.challenges.each do |challenge| %>
          <li class="p-4 bg-neutral-50 rounded-md">
            <h5 class="text-2xl font-bold">
              <%= challenge.name %>
            </h5>

            <p class="text-neutral-700 mt-4">
              <%= challenge.description %>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</div>
