<div id="<%= dom_id program %>">
  <p>
    <strong>Name:</strong>
    <%= program.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= program.description %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= program.difficulty %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= program.length %>
  </p>

</div>
