<%= image_tag "patterns/001.png", alt: "pattern", class: "absolute -left-96 top-0" %>
<%= image_tag "patterns/001.png", alt: "pattern", class: "absolute -right-96 bottom-0" %>

<section class="flex">
  <%= render partial: "users/shared/sidebar" %>

  <div class="w-2/4">
    <%= form_for @user, html: {  }  do |f| %>
      <h1 class="font-display md:text-4xl mb-4 md:mb-8">Редагувати профіль</h1>

      <div class="flex items-center mb-12 w-full">
        <div class="rounded-full w-24 h-24 aspect-square bg-neutral-200"></div>

        <div class="ml-4 w-full">
          <div class="mb-4">
            <%= f.label :username, class: "text-sm text-neutral-600 block" %>
            <%= f.text_field :username, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md w-full" %>
          </div>

          <div class="mb-4">
            <%= f.label :name, class: "text-sm text-neutral-600 block" %>
            <%= f.text_field :name, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md w-full" %>
          </div>

          <div class="mb-4">
            <%= f.label :email, class: "text-sm text-neutral-600 block" %>
            <%= f.text_field :email, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md w-full" %>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <%= f.label :bio, class: "text-sm text-neutral-600 block" %>
        <%= f.text_area :bio, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-400 duration-200 rounded-md w-full" %>
      </div>

      <div class="mb-4">
        <%= f.submit "Update Profile", class: "px-6 py-4 text-sm bg-neutral-100 text-neutral-700 hover:bg-neutral-50 duration-200 cursor-pointer rounded-md" %>
      </div>
    <% end %>
  </div>
</section>
