<section class="flex my-12 xl:mb-32">
  <aside class="w-full xl:w-1/4 p-4 md:p-0">
    <%= link_to "Boards", boards_path, class: "lg:text-2xl block lowercase" %>
    <%= link_to "Events Feed", root_path, class: "lg:text-2xl block lowercase" %>
    <%= link_to "Program Suggestions", root_path, class: "lg:text-2xl block lowercase" %>
    <%= link_to "My Programs", root_path, class: "lg:text-2xl block lowercase" %>
    <%= link_to "Edit", root_path, class: "lg:text-2xl block lowercase" %>
  </aside>

  <div class="xl:w-2/4">
    <h1 class="font-display xl:text-7xl mb-8"><%= "#{@user.name}, Welcome Back!" %></h1>

    <div class="flex items-center mb-12">
      <div class="rounded-full w-24 h-24 aspect-square bg-neutral-600"></div>

      <div class="ml-4">
        <h2 class="text-sm text-neutral-300"><%= "@#{@user.username}" %></h2>
        <h1 class="text-xl font-medium text-neutral-50"><%= @user.name %></h1>
        <p class="text-xs text-neutral-200"><%= @user.email %></p>
      </div>
    </div>

    <p class="mt-4"><%= @user.bio %></p>
  </div>

  <div class="xl:w-1/4">
    <div class="flex items-center space-x-4">
      <i class="ph ph-trophy-light text-3xl"></i>

      <div>
        <h6 class="font-medium text-lg">Reminder</h6>
        <p class="text-sm text-neutral-300">You have 3 programs to review</p>
      </div>
    </div>
  </div>
</section>

<section>
  <% if @date_grouped_notes.any? { |date, notes| notes.any? } %>
    <% @date_grouped_notes.each_pair do |date, notes| %>
      <% next if notes.empty? %>
      <div class="mb-12 xl:mb-16">
        <h2 class="font-display text-3xl mb-4"><%= date.to_s.humanize %></h2>

        <div class="grid gap-4 xl:gap-8 xl:grid-cols-2">
          <% notes.each do |note| %>
            <%= link_to board_note_path(note.board, note), class: "border border-neutral-400 p-6 hover:border-neutral-100 duration-150 cursor-pointer" do%>
              <h4 class="font-medium text-lg"><%= note.title %></h4>
              <p class="text-neutral-300 mt-2"><%= note.description %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center mt-8">
      <h5 class="text-xl font-medium mb-2">There is no recent notes</h5>
      <p class="text-neutral-300">You can create a note in the boards page</p>
    </div>
  <% end %>
</section>
