<section>
  <%= form_for @board, html: { class: "lg:w-1/2 mx-auto md:mt-32" } do |f| %>
    <h1 class="font-display xl:text-7xl mb-8">Edit board</h1>

    <% if flash[:form_errors].present? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-8" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline"><%= flash[:form_errors] %></span>
      </div>
    <% end %>

    <div class="flex flex-col">
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="mb-4">
        <%= f.label :layout, class: "text-neutral-300" %>

        <div5 class="flex gap-4">
          <div class="flex flex-col items-center justify-center flex-1">
            <%= f.radio_button :layout, :list, class: "appearance-none border border-neutral-400 w-full h-20 checked:bg-neutral-900 checked:border-transparent focus:outline-none focus:ring-2 focus:ring-neutral-900 focus:ring-opacity-50 cursor-pointer duration-200", checked: @board.layout == 0 %>
            <%= f.label :layout, :list, class: "text-neutral-300 absolute cursor-pointer pointer-events-none" do %>
              <i class="ph-light ph-list text-4xl"></i>
            <% end %>
          </div>

          <div class="flex flex-col items-center justify-center flex-1">
            <%= f.radio_button :layout, :grid, class: "appearance-none border border-neutral-400 w-full h-20 checked:bg-neutral-900 checked:border-transparent focus:outline-none focus:ring-2 focus:ring-neutral-900 focus:ring-opacity-50 cursor-pointer duration-200", checked: @board.layout == 1 %>
            <%= f.label :layout, :grid, class: "text-neutral-300 absolute cursor-pointer pointer-events-none" do %>
              <i class="ph-light ph-grid-four text-4xl"></i>
            <% end %>
          </div>

          <div class="flex flex-col items-center justify-center flex-1">
            <%= f.radio_button :layout, :kanban, class: "appearance-none border border-neutral-400 w-full h-20 checked:bg-neutral-900 checked:border-transparent focus:outline-none focus:ring-2 focus:ring-neutral-900 focus:ring-opacity-50 cursor-pointer duration-200", checked: @board.layout == 2 %>
            <%= f.label :layout, :kanban, class: "text-neutral-300 absolute cursor-pointer pointer-events-none" do %>
              <i class="ph-light ph-kanban text-4xl"></i>
            <% end %>
          </div>
        </div5>
      </div>

      <div class="mb-4">
        <%= f.label :title, class: "text-neutral-300" %>
        <%= f.text_field :title, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
      </div>

      <div class="mb-4">
        <%= f.label :description, class: "text-neutral-300" %>
        <%= f.text_area :description, class: "px-4 py-3 bg-transparent border border-neutral-500 w-full focus:outline-0 focus:border-neutral-100 duration-200" %>
      </div>

      <div class="mb-4">
        <%= f.submit "Save Changes", class: "px-6 py-4 text-sm bg-neutral-900 duration-200 hover:bg-neutral-800" %>
      </div>
    </div>
  <% end %>
</section>
