<!DOCTYPE html>
<html>
  <head>
    <title>GoAhead</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://unpkg.com/phosphor-icons"></script>
  </head>

  <body class="bg-black text-neutral-100">
    <%= render "shared/header" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <main class="w-11/12 md:w-3/4 mx-auto min-h-screen">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
