<!DOCTYPE html>
<html>
  <head>
    <title>GoAhead</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>

    <%= javascript_pack_tag "application" %>

    <script src="https://unpkg.com/phosphor-icons"></script>
  </head>

  <body class="bg-black">
    <% unless "#{controller_name}_#{action_name}" == 'static_pages_home' %>
      <%= render "shared/header" %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
